.scroll-background {
    position: absolute;
    top: 0;
    z-index: -2;
    min-height: 100vh; /* min-h-full */
    min-width: 100vw;  /* min-w-full */
    transform: rotate(180deg);
    background-color: #d9f99d; /* Equivalent to bg-green-100 */
    background-image: radial-gradient(60% 120% at 50% 50%, hsla(0, 0%, 100%, 0) 0%, rgba(252, 205, 238, 0.5) 100%);
  }
  